@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,500&display=swap');
*{
  margin 0;
  padding 0;
  box-sizing: border-box;
}

body{
  background-color: #292C34;
}
header{
  background: white;
  padding: 20px;
}

.green-glow{
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.grey-glow{
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
header > h1{
  color: #292C34;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board{
  border: 3px solid white;
  width: 200px;
  text-align: center;
  padding: 15px 20px;
  font-family: Asap, sans-serif;;
  border-radius: 4px;
  margin: 20px auto;
  color: white;
  font-size: 46px;
  position: relative;
}

.badge{
  background: #E2584D;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
}

#user-label{
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label{
  position: absolute;
  top: 30px;
  right: -30px;
}

.result{
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}
.choices{
  text-align: center;
  margin: 0px 0;
}
.choice{
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  margin: 0 15px;
  border: 4px solid white;
  transition: all 0.3s ease;
}

.choice:hover{
  cursor: pointer;
  background: #24272E;
}

#action-message{
  text-align: center;
  color: white;
  font-family: Asap,sans-serif;
  font-weight: bold;
  font-size: 20px;
}
